*{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main.posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #6495ed;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Anton', sans-serif;
}

.name{
    display: inline;
    margin-right: 15px;
}

.container{
    width: 80%;
    min-height: 150vh;
    background-color: #c2e0e7;

    margin-top: 40px;
}

.container__item{
    width: 100%;
    height: 100px;

    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 80%;
    height: 100px;
    background-color: burlywood;
    margin: 10px 0;

    border: solid 1px black;
    border-radius: 5px;

    font-size: 20px;
}

.user_name{
    width: fit-content;
    margin-top: 5px;
    margin-left: 5px;
}

.user_bio{
    width: fit-content;
    margin-left: 5px;
}

.user_albums {
    width: fit-content;
    margin-left: 5px;
}

.user_posts{
    width: fit-content;
    margin-left: 5px;
}

/*Стили ссылок*/
.albums_ref {
    text-decoration: none;
    color: black;
    font-style: italic;
}

.albums_ref:hover {
    color: red;
    transition: color .2s linear;
}

.posts_ref {
    color: black;
    text-decoration: none;
    font-style: italic;
}

.posts_ref:hover {
    color: red;
    transition: color .2s linear;
}

/*Стили уже для отображения Постов*/
nav {
    padding: 15px;
    background-color: cornflowerblue;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

nav a:hover {
    color: black;
    background-color: white;
}

.container_posts {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*стили для поста и коментов*/
.post_item {
    margin-top: 15px;
    width: 60%;
    min-height: fit-content;
    background-color: aqua;
    border-radius: 10px;
}

.post_title {
    width: 100%;
    height: 20%;
    border-bottom:black 1px solid;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.post_content {
    max-height: 30%;
    width: 100%;
    font-size: 20px;
    text-align: center;
    border-bottom: black 1px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.comments_prev {
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

.comments_prev a{
    text-decoration: none;
    color:black;
    transition: color .2s linear;
}

.comments_prev a:hover {
    color: chocolate;
}

.comment {
    font-size: 15px;
    font-weight: 300;
    padding: 5px;
}

.post_comments {
    padding: 5px;
    font-weight: 200;
    font-size:15px;
}