* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 200vh;
}

nav {
    padding: 15px;
    background-color: cornflowerblue;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

nav a:hover {
    color: black;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}